<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>manufacture</title>
</head>
<body>
ID: <p th:text="${manufacture.getId()}">VALUE</p>
Name: <p th:text="${manufacture.getName()}">VALUE</p>
Address: <p th:text="${manufacture.getAddress()}">VALUE</p>
<br/>
Staff:
<div th:each="manufactures : ${manufacture.getWorkerSet}">
    Id: <td th:text="${manufactures.getId()}">id</td><br/>
    First Name: <td th:text="${manufactures.getFirstName()}">name</td>
    Middle Name: <td th:text="${manufactures.getMiddleName()}">ad</td>
    Last Name: <td th:text="${manufactures.getLastName()}">ad</td>
</div>
<form th:method="post" th:action="@{/manufacture/{id}(id=${manufacture.getId()})}">
<input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>